<%= form_with(model: [@event, comment]) do |f| %>
  
  <%= render 'partials/form_errors', model: comment %>

  <div class="mt-2">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% unless user_signed_in? %>
    <div class="mt-2">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="mt-2">
    <%= f.submit 'Отправить', class: 'btn btn-primary' %>
  </div>
<% end %>
