<%= form_with(model: event) do |f| %>

  <%= render 'partials/form_errors', model: event %>

  <div class="mt-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :datetime %>
    <%= f.datetime_select :datetime, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
