<h1>Доступ только по пин-коду</h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="mt-2">
    <%= label_tag 'Пин-код' %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="mt-2">
    <%= submit_tag 'Отправить', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>
